<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title> Form Demo </title>
</head>
<body>

  <style lang="css">
    form label {
      display: flex;
      flex-direction: column;
    }

    form label.valid {
      background-color: rgb(116, 211, 156);
    }

    form label.invalid {
      background-color: rgb(211, 116, 116);
    }
  </style>

  <form id="demo" action="return false;">
    <label for="email">
      <span> EMAIL </span>
      <input name="email" type="email">
    </label>
    <label for="password">
      <span> PASSWORD </span>
      <input name="password" type="password">
    </label>
    <label for="check_password">
      <span> CHECKPASSWORD </span>
      <input name="check_password" type="password">
    </label>
    <label for="user">
      <span> USER </span>
      <input name="user" type="text">
    </label>
  </form>
  
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

  <script>
    var Form = new Form({
      inputGroup: [
        {
          label: document.body.querySelector('#demo label[for="email"]'),
          input: document.body.querySelector('#demo input[name="email"]'),
          type: 'email',
          isValid: true
        },
        {
          label: document.body.querySelector('#demo label[for="password"]'),
          input: document.body.querySelector('#demo input[name="password"]'),
          type: 'password',
          isValid: true
        },
        {
          label: document.body.querySelector('#demo label[for="check_password"]'),
          input: document.body.querySelector('#demo input[name="check_password"]'),
          type: 'check_password',
          isValid: true
        },
        {
          label: document.body.querySelector('#demo label[for="user"]'),
          input: document.body.querySelector('#demo input[name="user"]'),
          type: 'other',
          isValid: true
        }
      ],
      totalErrorCallback: function(value) { console.log(value) }
    })
  </script>
</body>
</html>